@model IEnumerable<Work.Models.User>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
    <p>
        <input type="submit" value="Filter">
    </p>
}
